main {
    display: grid;
    grid-template-columns: 60% auto;
    height: calc(100vh - var(--header-height) - var(--footer-height));

    .left {
        display: grid;
        grid-template-rows: 1fr 50px 1fr;

        .product-list-container {
            .product-list {
                background-color: var(--color-white);
                height: calc(100% - 40px);
                width: 100%;
                margin: 20px;
                border-radius: 25px;
                box-shadow: var(--shadow-default);
                overflow: none;

                .top {
                    display: grid;
                    grid-template-columns: 350px auto;

                    span {
                        margin: auto;
                        margin-left: 10px;
                        padding: 0 20px;
                        font-weight: bold;
                        font-size: var(--font-size-content);
                    }

                    .custom-searchbar-container {
                        transform: translateX(-55px);
                        height: 40px;
                        margin: 20px;
                        background-color: var(--color-light-blue);
                        box-shadow: none;
                        border: none;

                        * {
                            font-family: var(--font-main);
                            font-size: var(--font-size-content);
                        }
                    }
                }
            }
        }

        .button-group {
            margin: 0 20px;
        }
    }
}

.products {
    width: calc(100% - 40px);
    height: calc(100% - 130px);
    overflow-y: scroll;
    overflow-x: hidden;
    margin: auto;

    .product {
        width: 100%;
        height: 40px;
        display: grid;
        grid-template-columns: repeat(3, max-content);
        background-color: white;

        &:not(:last-child) {
            border-bottom: var(--color-lavender) 2px solid;
        }

        .product-info {
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            gap: 10px;

            .name {
                margin-left: 10px;
            }
        }

        .details,
        .delete {
            margin: auto;

            &:hover {
                cursor: pointer;
                transform: scale(105%);
            }
        }

        .delete {
            filter: brightness(0) saturate(100%) invert(32%) sepia(48%) saturate(1649%) hue-rotate(326deg) brightness(144%) contrast(114%);
        }
    }
}

#drag-and-drop {
    .product {
        display: grid;
        grid-template-columns: 50px auto 50px;
        padding: 10px;
    }

    .dragged-element {
        border-radius: 10px;
        box-shadow: var(--shadow-default);

        .delete {
            margin-left: 20px;
            filter: brightness(0) saturate(100%) invert(32%) sepia(48%) saturate(1649%) hue-rotate(326deg) brightness(144%) contrast(114%);
        }
    }
}