main {
    display: grid;
    grid-template-columns: auto 550px;
    height: calc(100vh - var(--header-height) - var(--footer-height));
    min-height: max-content;

    .background {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        filter: brightness(75%);
    }

    .left {
        display: grid;
        grid-template-rows: 1fr 50px 1fr;

        .product-list-container {
            .product-list {
                background-color: var(--color-white);
                height: calc(100% - 40px);
                width: calc(100% - 40px);
                margin: 20px;
                border-radius: 25px;
                box-shadow: var(--shadow-default);
                overflow: none;

                .top {
                    display: grid;
                    grid-template-columns: 350px auto;

                    span {
                        margin: auto;
                        margin-left: 10px;
                        padding: 0 20px;
                        font-weight: bold;
                        font-size: var(--font-size-content);
                    }

                    .custom-searchbar-container {
                        transform: translateX(-55px);
                        height: 40px;
                        margin: 20px;
                        background-color: var(--color-light-blue);
                        box-shadow: none;
                        border: none;

                        * {
                            font-family: var(--font-main);
                            font-size: var(--font-size-content);
                        }
                    }
                }
            }
        }

        .button-group {
            margin: 0 20px;
            width: calc(100% - 40px);
        }
    }

    .right {
        overflow-y: scroll;

        .purchase-container {
            background-color: var(--color-white);
            margin: 20px;
            padding-bottom: 10px;
            border-radius: 25px;
            box-shadow: var(--shadow-default);
            height: max-content;
            padding-top: 1px;

            h1 {
                font-size: var(--font-size-subtitle);
                text-align: center;
            }

            .calendar-container {
                margin: 25px;
                max-width: 500px;

                .calendar-content {
                    display: flex;
                    flex-direction: row;
                    margin: auto;
                    margin-top: 5px;

                    span {
                        margin-top: 3px;
                    }

                    .custom-number-container {
                        margin: 0 10px;

                        input {
                            border: var(--color-lavender) 2px solid;
                        }
                    }
                }
            }

            .button-group {
                margin: 25px;
                width: calc(100% - 50px);
            }

            .info {
                margin: 25px;

                .title {
                    font-weight: bold;
                }

                .content {
                    font-size: var(--font-size-annotation);
                }
            }

            .info-columns {
                margin-top: 20px;
                display: grid;
                grid-template-columns: max-content auto max-content;
                font-size: var(--font-size-annotation);

                * {
                    margin: 5px 10px;
                }

                hr {
                    width: 100%;
                    height: 2px;
                    background-color: var(--color-lavender);
                    border: none;
                    transform: translateY(20px);
                }

                .total {
                    font-size: var(--font-size-content);
                }
            }

            .finish-purchase {
                margin-top: 15px;
                
                button {
                    font-size: var(--font-size-content);
                }
            }
        }
    }
}

#dropdown-container {
    margin: 25px;
    width: calc(100% - 50px);

    .dropdown {
        background-color: var(--color-light-blue);

        .dropdown-title {
            position: relative;
            width: 100%;
            height: 50px;
            background-color: var(--color-white);

            svg {
                width: 40px;
                margin-left: 10px;
            }

            span {
                position: absolute;
                top: 50%;
                left: 60px;
                transform: translateY(-50%);
            }
        }

        .dropdown-content {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 10px;
            margin-top: 12px;

            .icon {
                width: 30px;
                aspect-ratio: 1;
            }

            .info-detail {
                background-color: var(--color-grey);
                color: var(--color-white);
                padding: 3px 10px;
                border-radius: 5px;
            }
        }
    }
}

.products {
    width: calc(100% - 40px);
    height: calc(100% - 130px);
    overflow-y: scroll;
    overflow-x: hidden;
    margin: auto;

    .product {
        width: 100%;
        height: 40px;
        display: grid;
        grid-template-columns: repeat(3, max-content);

        &:not(:last-child) {
            border-bottom: var(--color-lavender) 2px solid;
        }

        .product-info {
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            gap: 10px;
            height: 200%;

            .name {
                margin-left: 10px;
            }
        }

        .details,
        .delete {
            margin: auto;

            &:hover {
                cursor: pointer;
                transform: scale(105%);
            }
        }

        .delete {
            filter: brightness(0) saturate(100%) invert(32%) sepia(48%) saturate(1649%) hue-rotate(326deg) brightness(144%) contrast(114%);
        }
    }
}

#drag-and-drop {
    .product {
        display: grid;
        grid-template-columns: 50px auto 50px;
        padding: 10px;
    }

    .dragged-element {
        border-radius: 10px;
        box-shadow: var(--shadow-default);

        .delete {
            margin-left: 20px;
            filter: brightness(0) saturate(100%) invert(32%) sepia(48%) saturate(1649%) hue-rotate(326deg) brightness(144%) contrast(114%);
        }
    }
}

@media screen and (max-width: 1200px) {
    main {
        display: flex;
        flex-direction: column;
        height: max-content;
        padding: 50px;

        .right .purchase-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            .calendar-container {
                width: 75%;
            }
        }
    }
}