* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("../imagenes/fondo_paisaje.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}

.logo img {
    width: 15vw;
    max-width: 200px;
    min-width: 120px;
    height: auto;
}

main h1 {
    color: white;
    text-shadow: 2px 2px 4px black;
    margin-bottom: 0;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 70%;
    margin: 0 auto;
}

.noche-info {
    color: white;
    text-shadow: 2px 2px 4px black;
    width: 100%; 
    margin-bottom: 3rem;
    padding: 0 1rem; 
}

.noche-info p {
    color: white;
    text-shadow: 2px 2px 4px black;
    line-height: 1.8; 
    text-align: justify; 
}

.image-left, .image-right {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.image-left {
    flex-direction: row;
}

.image-left .section-info {
    text-align: left;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.image-right {
    flex-direction: row-reverse;
}

.image-right .section-info {
    text-align: right;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.knowus-image img {
    width: 300px;
    height: auto;
}

@media (max-width: 768px) {
    .image-left, .image-right {
        flex-direction: column;
    }
}