main {
    height: calc(100vh - var(--header-height) - var(--footer-height));
    
    .card {
        width: 450px;
        text-align: center;
        padding: 20px 35px;

        h1 {
            font-weight: bold;
            font-size: var(--font-size-subtitle);
        }

        p {
            font-size: var(--font-size-content);
            
            &:not(:last-child) {
                margin: 50px 0;
            }
        }
    }

    .worker {
        width: 100%;
        height: 100%;
        background: var(--gradient);
        mask-image: url("../imagenes/en_construccion.png");
        mask-repeat: no-repeat;
        mask-position: bottom right;
    }
}