/* Fuente Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Fuente Source Sans 3 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    /* Fuentes */
    --font-main: "Montserrat", sans-serif;
    --font-secondary: "Source Sans 3", sans-serif;

    --font-size-title: 48px;
    --font-size-subtitle: 32px;
    --font-size-content: 24px;
    --font-size-annotation: 16px;

    /* Colores */
    --color-black: #000000;
    --color-grey: #3B4B5B;
    --color-blue: #0097B2;
    --color-teal: #38B48A;
    --color-green: #7ED957;
    --color-dark-red: #FF5757;
    --color-light-red: #FF9898;
    --color-lavender: #DAE4FF;
    --color-light-blue: #E5F7FF;
    --color-white: #FFFFFF;

    --color-dark-primary: #3B585B;
    --color-dark-secondary: #2D3E42;

    /* Tamaños de pantalla */
    --screen-size-phone: 600px;
    --screen-size-tablet: 768px;
    --screen-size-desktop: 992px;
    --screen-size-large: 1200px;

    /* Tamaños de elementos */
    --header-height: 50px;
    --footer-height: 150px;

    /* Otros */
    --shadow-default: 0 0 10px rgba(0, 0, 0, 0.35);

    /* Degradados: Horizontal y vertical */
    --gradient: linear-gradient(to right, var(--color-blue), var(--color-green));
    --gradient-vertical: linear-gradient(to bottom, var(--color-blue), var(--color-green));
    --gradient-inverted: linear-gradient(to left, var(--color-blue), var(--color-green));
    --gradient-vertical-inverted: linear-gradient(to top, var(--color-blue), var(--color-green));

    /* Ajustes del fondo */
    --background-opacity: 50%;
    --background-gradient: linear-gradient(to right,
    color-mix(in oklab, var(--color-blue), white calc(100% - var(--background-opacity))),
    color-mix(in oklab, var(--color-green), white calc(100% - var(--background-opacity))));
}

/* ----------------- General --------------------- */
body {
    margin: 0;
    font-family: var(--font-main);
    font-size: var(--font-size-content);
}

body.gradient {
    background: var(--background-gradient);
}

.gradient {
    background: var(--gradient);
}

header {
    height: var(--header-height);
}
main {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}
footer {
    position: relative;
    width: 100%;
    height: var(--footer-height);
}
.animate-gradient {
    background: linear-gradient(to right, var(--color-blue), var(--color-green), var(--color-blue));
    background-size: 200%;
    animation: gradient-animation linear 15s infinite;
}
@keyframes gradient-animation {
    0% { background-position-x: 0%; }
    100% { background-position-x: 1000%; }
}

/* ------------------ Cartas –---------------------- */
.card {
    background-color: var(--color-white);
    padding: 10px;
    border-radius: 20px;
    box-shadow: var(--shadow-default);
}

.compound-card {
    --border-radius: 10px;

    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
    box-shadow: var(--shadow-default);
    border-radius: var(--border-radius);

    .compound-card-top {
        background-color: var(--color-white);
        border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    .compound-card-bottom {
        background-color: var(--color-white);
        border-radius: 0 0 var(--border-radius) var(--border-radius);
    }
}

.center-content {
    position: relative;

    & > * {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* ------------- Botones --------------  */
:not(.button-group):has(> .button) {
    display: flex;
    flex-direction: row;

    .button {
        width: 100%;
        user-select: none;
        font-family: var(--font-main);
        font-size: var(--font-size-annotation);
        padding: 15px 50px;
        border-radius: 50px;
        border: none;
        font-weight: bold;
        transition: cubic-bezier(0,.8,.39,1) 0.25s;
        text-decoration: none;

        &:hover {
            cursor: pointer;
        }
    }
}

.button-gradient {
    background: linear-gradient(to right, var(--color-blue), var(--color-green), var(--color-blue));
    background-size: 200%;
    color: var(--color-white);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

    &:not(.animate-gradient):hover {
        background-position-x: -100%;
    }

    &.animate-gradient:hover {
        transition: ease-out 0.1s;
        filter: brightness(80%);
    }
}

.button-light {
    background: var(--color-white);

    &:hover {
        background-color: var(--color-light-blue);
    }
}

.button-dark {
    background: var(--color-grey);
    color: var(--color-white);

    &:hover {
        background-color: var(--color-black);
    }
}

.button-red {
    background: var(--color-dark-red);
    color: var(--color-white);

    &:hover {
        background-color: var(--color-light-red);
    }
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    .button {
        width: 100%;
        text-align: center;
        user-select: none;
        font-family: var(--font-main);
        font-size: var(--font-size-annotation);
        padding: 15px 0px;
        border-radius: 0px;
        border: none;
        margin: 0px;
        font-weight: bold;
        transition: cubic-bezier(0,.8,.39,1) 0.25s;
        text-decoration: none;

        &:hover {
            cursor: pointer;
        }
    }
    
    :first-child {
        border-radius: 50px 0 0 50px;
    }

    :last-child {
        border-radius: 0 50px 50px 0;
    }
}

/* Header & Footer */
html, body {
    height: 100%;
}

header {
    user-select: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .center {
        position: relative;
        
        .header-logo {
            z-index: 1;
            height: calc(var(--header-height) - 10px);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: ease-out 0.05s;
            filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));

            img {
                width: inherit;
                height: inherit;
            }

            &:hover {
                transform: translate(-50%, -50%) scale(103%);
                cursor: pointer;
            }
        }
    }

    .right {
        .icons {
            display: flex;
            flex-direction: row;
            position: absolute;
            right: 25px;

            a {
                position: relative;
                width: var(--header-height);
                aspect-ratio: 1;
                margin-top: 2px;

                svg {
                    position: absolute;
                    width: calc(var(--header-height) - 20px);
                    height: max-content;
                    z-index: 2;
                    margin-top: 10px;
                    transform: translate(7px, -2px);
                    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.25));

                    path {
                        color: var(--color-white);
                    }
                }

                .icon-background {
                    position: absolute;
                    background-color: var(--color-black);
                    width: calc(var(--header-height) - 5px);
                    opacity: 30%;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    z-index: 0;
                    transform: scale(0%);
                    transition: ease-out 0.03s;
                }

                &:hover {
                    svg {
                        filter: none;
                    }

                    .icon-background {
                        transform: scale(100%);
                    }
                }
            }
        }

        #hamburger {
            .icon {
                width: calc(var(--header-height) - 5px);
                aspect-ratio: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.15));
                position: absolute;
                right: 10px;
                top: 2px;

                .bar {
                    width: 40px;
                    height: 5px;
                    background-color: var(--color-white);
                    border-radius: 10px;
                }

                &:hover {
                    cursor: pointer;
                }
            }

            .content {
                position: fixed;
                background-color: white;
                font-size: var(--font-size-annotation);
                right: 0;
                top: 0;
                z-index: 2;
                transform: translateX(100%);
                width: 200px;
                height: 100%;
                display: flex;
                flex-direction: column;
                box-shadow: -5px 0 5px rgba(0, 0, 0, 0.15);

                .close-header-hamburger {
                    display: flex;
                    justify-content: right;
                    color: var(--color-black);
                    height: var(--header-height);

                    #close-hamburger-button {
                        height: var(--header-height);
                        width: var(--header-height);
                        
                        svg {
                            opacity: 50%;
                            width: 100%;
                            height: 100%;
                        }

                        &:hover svg {
                            cursor: pointer;
                            transition: ease-out 0.05s;
                            transform: scale(102%);
                            opacity: 100%;
                        }
                    }
                }

                a {
                    width: 100%;
                    height: 50px;
                    color: var(--color-black);
                    text-decoration: none;
                    position: relative;
                    background-color: white;
                    opacity: 75%;

                    svg {
                        position: absolute;
                        width: 40px;
                        height: 40px;
                        top: 50%;
                        left: 10px;
                        transform: translateY(-50%);
                        
                        path {
                            color: var(--color-black);
                        }
                    }

                    span {
                        position: absolute;
                        top: 50%;
                        left: 65px;
                        transform: translateY(-50%);
                    }

                    &:hover {
                        filter: brightness(95%);
                        opacity: 100%;
                    }
                }

                hr {
                    width: 80%;
                    opacity: 20%;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }

            #content-background {
                position: fixed;
                z-index: 1;
                background-color: black;
                opacity: 50%;
                width: 100vw;
                height: 100vh;
                left: 0;
                margin: 0;
                overflow: hidden;
            }
        }
    }
}

@media screen and (min-width: 600px) {
    #hamburger {
        opacity: 0%;
    }
    .icons {
        opacity: 100%;
    }
}

@media screen and (max-width: 600px) {
    #hamburger {
        opacity: 100%;
    }
    .icons {
        opacity: 0%;
    }
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* { border: red 1px solid; }*/

    .center {
        .footer-logo {
            height: calc(var(--header-height) - 10px);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: ease-out 0.05s;
            filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));

            &:hover {
                transform: translate(-50%, -50%) scale(103%);
                cursor: pointer;
            }
        }
    }
}

/* Buscador */

.custom-searchbar-container {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 500px;
    background-color: var(--color-white);
    box-shadow: var(--shadow-default);
    border: rgba(0, 0, 0, 0.25) 1px solid;
    display: flex;
    flex-direction: row;
    
    .custom-searchbar {
        width: 100%;
        margin-left: 15px;
        margin-right: 5px;
        background-color: rgba(0, 0, 0, 0);
        border: none;

        &:focus {
            outline: none;
        }
    }

    svg {
        height: 100%;
        width: max-content;
        aspect-ratio: 1;
        margin: auto 10px;

        &:hover {
            transition: ease-out 0.05s;
            cursor: pointer;
        }
    }
}

/* Dropdowns */

.dropdown {
    position: relative;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: var(--shadow-default);

    .dropdown-arrow {
        user-select: none;
        position: absolute;
        right: 10px;
        top: 5px;
        aspect-ratio: 1;
        opacity: 50%;
        z-index: 1;

        &:hover {
            cursor: pointer;
            opacity: 100%;
        }
    }
}