main {
    .ads-container {
        width: 85vw;
        height: auto;
        display: flex;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 30px;
        flex-direction: row;
        box-shadow: var(--shadow-default);
        border-radius: 15px;
        user-select: none;

        .ad-container {
            width: 100%;
            text-align: center;
            margin: auto;
            height: 75px;
            background-color: var(--color-white);

            &:first-child {
                border-radius: 15px 0 0 15px;
            }

            &:nth-child(even) {
                background-color: aliceblue;
            }

            &:last-child {
                border-radius: 0 15px 15px 0;
            }
        }
    }

    .search-bar {
        width: 100%;
        height: 50px;

        * {
            font-family: var(--font-main);
            font-size: var(--font-size-content);
        }

        .custom-searchbar-container {
            min-width: 200px;
            max-width: 20vw;
            height: 35px;
        }
    }

    .products-container {
        height: 100%;
        width: 85vw;
        margin: auto;
        margin-bottom: 50px;

        .products-container-inner {
            margin-top: 30px;
            margin-bottom: 25px;
            width: auto;
            background-color: var(--color-white);
            box-shadow: var(--shadow-default);
            padding: 5px;
            border-radius: 20px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
            justify-content: center;

            .product {
                margin: 10px;
                width: auto;
                margin: 15px auto;
                border-radius: 10px;
                text-decoration: none;
                color: var(--color-black);

                .compound-card-top {
                    height: 150px;
                    width: 150px;

                    img {
                        user-select: none;
                        width: 150px;
                        aspect-ratio: 1;
                        border-radius: inherit;
                    }
                }

                .compound-card-bottom {
                    background: var(--color-light-blue);

                    padding: 10px 15px 15px 15px;
                    height: 60px;
                    display: flex;
                    flex-direction: column;
                    background-color: var(--color-light-blue);
                    position: relative;

                    .weight {
                        position: absolute;
                        font-size: var(--font-size-annotation);
                        color: var(--color-grey);
                        bottom: 15px;
                    }

                    .price {
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                        font-weight: bold;
                    }
                }

                &:hover {
                    transition: ease-out 0.15s;
                    transform: scale(102%);
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    section.ads-container .ad-container {
        &:nth-last-child(2) {
            border-radius: 0 15px 15px 0;
        }

        &:last-child {
            display: none;
        }
    }
}