main {
    display: grid;
    grid-template-columns: 40% 60%;

    .profile-info {
        .profile-info-container {
            width: calc(100% - 10px);
            height: calc(100% - 20px);
            margin: 10px;
            border-radius: 15px;
            display: grid;
            grid-template-rows: 93% auto;

            .user-info {
                position: relative;

                .user-info-container {
                    margin: 50px;
                    display: flex;
                    flex-direction: column;

                    .profile-image {
                        margin: auto;
                        width: 150px;
                        aspect-ratio: 1;
                        border-radius: 50%;
                        margin-bottom: 20px;
                    }

                    .user-name,
                    .user-surname {
                        text-align: center;
                    }

                    .user-name {
                        font-weight: bold;
                        color: var(--color-black);
                    }

                    .user-surname {
                        color: var(--color-grey);
                        font-size: var(--font-size-annotation);
                    }

                    hr {
                        width: 100%;
                        height: 2px;
                        background: var(--color-black);
                        border-radius: 3px;
                        opacity: 20%;
                        border: none;
                    }

                    .user-details {
                        margin-top: 20px;
                        overflow-y: scroll;
                        display: flex;
                        flex-direction: column;
                        height: 300px;

                        .user-detail-title {
                            font-size: var(--font-size-annotation);
                        }

                        .user-detail {
                            padding: 10px;
                            margin: 10px 0;
                            background-color: var(--color-lavender);
                            border-radius: 10px;
                            font-size: var(--font-size-content);
                        }
                    }
                }
            }

            .log-out {
                user-select: none;
                background-color: var(--color-light-red);
                color: var(--color-black);
                text-decoration: none;

                .log-out-content {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    margin-top: 10px;

                    .icon {
                        position: relative;
                        width: 30px;
                        height: min-content;
                        color: var(--color-dark-red);
                        margin-right: 5px;
                    }

                    span {
                        position: relative;
                    }
                }

                &:hover {
                    transition: ease-out 0.1s;
                    background-color: var(--color-dark-red);

                    .log-out-content .icon {
                        filter: brightness(60%);
                    }
                }
            }
        }
    }

    #dropdown-container {
        padding: 10px;
        overflow-x: hidden;
        overflow-y: scroll;
        height: calc(100vh - var(--header-height) - var(--footer-height) + 10px);

        .dropdown:not(:first-child) {
            margin-top: 10px;
        }

        .dropdown {
            font-size: var(--font-size-annotation);

            .dropdown-title {
                font-weight: bold;
                margin-left: 15px;
            }

            .dropdown-content {
                margin: 15px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    main {
        display: flex;
        flex-direction: column;

        .profile-info {
            margin: 20px;
            margin-right: 30px;
        }

        .user-details {
            height: 100%;
        }

        #dropdown-container {
            height: auto;
            margin: 20px;
            margin-top: 0;
        }
    }
}