/* Posición fija de la imagen de fondo. Queda fija aunque hagamos scroll*/
main {
    .background-image {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

/* La sección principal utiliza grid.
Con auto para que el contenido sea flexible
y con el tamaño de la pantalla menos header y footer. */
.main-section {
    display: grid;
    grid-template-columns: auto 800px;
    height: calc(100vh - var(--header-height) - var(--footer-height));

    /* Contenedor del logo y el texto corporativo */
    .noche-container {
        /* Centrado */
        margin: auto;
        position: relative;

        /* Texto del logo, centrado dentro de noche-container */
        /* Texto blanco con sombra y centrado. */
        .noche-info {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: var(--color-white);
            text-shadow: var(--shadow-default);
            text-align: center;
            line-height: 40px;

            /* Logo */
            img.logo {
                user-select: none;
                min-width: 250px;
                width: 20vw;
                height: auto;
                filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
            }

            /* Estilos de encabezados */
            h1 {
                font-size: var(--font-size-title);
            }

            h2 {
                font-size: var(--font-size-subtitle);
                font-weight: normal;
            }
        }
    }
}

/* Formulario, tamaños, color, flex y  */
.card-form {
    /* Ancho fijo pantalla ordenador. */
    width: 600px;
    height: max-content;
    margin: auto;

    /* Fondo blanco, padding respecto a bordes. CARD */
    background: var(--color-white);
    padding: 30px;
    padding-bottom: 60px;
    border-radius: 16px;

    /* Organizado en columnas */
    display: flex;
    flex-direction: column;

    justify-content: center;

    .row {
        display: flex;
        flex-direction: column;
    }

    .column {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .row,
    .column {
        margin: 20px 5px;
    }

    /* El formulario en sí. */
    form {
        h2 {
            text-align: center;
        }

        label {
            font-size: var(--font-size-annotation);
        }

        /* Inputs de texto */
        .input {
            width: 100%;
            padding: 0.7rem 1rem;

            border-radius: 12px;
            border: 1px solid var(--color-black);
            background-color: var(--color-white);

            font-size: 0.95rem;
            box-sizing: border-box;

            /* Placeholders con fuente secundaria */
            &::placeholder {
                user-select: none;
                font-family: var(--font-secondary);
            }
        }

        /* Separación del botón */
        button[type="submit"] {
            margin-top: 25px;
        }
    }
}

/* Responsividad */
@media screen and (max-width: 992px) {
    .main-section {
        display: flex;
        flex-direction: column;

        .logo {
            scale: 0%;
        }

        .noche-info {
            scale: 0%;
        }
    }

    .card-form {
        width: 70vw;
        min-width: 360px;
    }
}