main {
    .background-image {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

.main-section {
    display: grid;
    grid-template-columns: auto 800px;
    height: calc(100vh - var(--header-height) - var(--footer-height));

    .noche-container {
        margin: auto;
        position: relative;

        .noche-info {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: var(--color-white);
            text-shadow: var(--shadow-default);
            text-align: center;
            line-height: 25px;

            img.logo {
                user-select: none;
                min-width: 250px;
                width: 20vw;
                height: auto;
                filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
            }

            h1 {
                font-size: var(--font-size-title);
            }

            h2 {
                font-size: var(--font-size-subtitle);
                font-weight: normal;
            }
        }
    }
}

.card-form {
    width: 600px;
    height: max-content;
    margin: auto;

    background: var(--color-white);
    padding: 30px;
    padding-bottom: 60px;
    border-radius: 16px;

    display: flex;
    flex-direction: column;

    justify-content: center;

    .row {
        display: flex;
        flex-direction: column;
    }

    .column {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .row,
    .column {
        margin: 20px 5px;
    }

    form {
        h2 {
            text-align: center;
        }

        label {
            font-size: var(--font-size-annotation);
        }

        .input {
            width: 100%;
            padding: 0.7rem 1rem;

            border-radius: 12px;
            border: 1px solid var(--color-black);
            background-color: var(--color-white);

            font-size: 0.95rem;
            box-sizing: border-box;

            &::placeholder {
                user-select: none;
                font-family: var(--font-secondary);
            }
        }

        button[type="submit"] {
            margin-top: 25px;
        }
    }
}

@media screen and (max-width: 992px) {
    .main-section {
        display: flex;
        flex-direction: column;

        .logo {
            transform: translateY(100%);
        }

        .noche-info {
            h1, h2 {
                scale: 0%;
            }
        }
    }

    .card-form {
        width: 70vw;
        min-width: 360px;
    }
}

/*
.card-form form {
    width: 100%;
    max-width: 420px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem 1rem;
}

.card-form form h2 {
    grid-column: span 2;
    text-align: center;
    margin-bottom: 1rem;
}

.card-form form label {
    grid-column: span 2;
    font-size: 1rem;
    font-weight: 500;
}

.card-form form .input {
    width: 100%;
    padding: 0.7rem 1rem;

    border-radius: 12px;
    border: 1px solid var(--color-black);
    background-color: var(--color-white);

    font-size: 0.95rem;
    box-sizing: border-box;
}

#nombre,
#apellido,
#email,
#phone,
#password,
#repetir {
    grid-column: span 2;
}

.card-form form > div {
    grid-column: span 2;
}

@media (max-width: 768px) {
    main {
        justify-content: center;
        padding: 20px;
    }

    .card-form {
        width: 100%;
        max-width: 480px;
    }

    .card-form form {
        grid-template-columns: 1fr;
    }

    .card-form form * {
        grid-column: span 1 !important;
    }
}